.Gif {
    position: relative;
    display: inline-block;
    color: #fff;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.Gif p {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    font-size: 14px;
    margin: 0;
}

.Gif img {
    object-fit: contain;
    border-radius: 6px;
}