.Category-title {
    color: var(--theme-body-txt);
    font-weight: bold;
}

.Category-list {
    display: flex;
    flex-wrap: wrap;
}

.Category-list--item {
    padding: 0.3rem;
	margin: 0.2rem;
    font-size: 1.2rem;
}

.Category-link {
    padding: 0 10px;
    color: #fff;
    font-size: 1em;
    transition: color .1s ease-in;
}
.Category-link:hover {
    color: #8C55A2;
}


@media screen and (min-width: 640px) {
    .Category-title {
        text-align: right;
    }

    .Category-list {
        justify-content: flex-end;
    }

    .Category-list li {
        display: inline-block;
    }
}