:root {
    --results-columns: 2;
}

.gifs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: masonry;
    gap: 16px;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

@media (min-width: 600px) {
    :root {
        --results-columns: 3;
    }
}

@media (min-width: 800px) {
    :root {
        --results-columns: 4;
    }
}