.gf-Fav {
    width: 32px;
    height: 32px;
    background: rgba(255, 172, 172, .35);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}

.gf-Fav:hover {
    background: rgba(255, 172, 172, .8);
}

.gf-Fav span {
    display: block;
    width: 21px;
    font-size: 14px;
}