.Nav-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.Nav-main a {
    display: block;
    height: 50%;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.Nav-main a:last-of-type {
    margin-left: 1em;
}

.Nav-main a:hover {
    border-bottom: 3px solid #FFF;
}