/* Styles Generals */
img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* App */
.App {
  text-align: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: #fff;
}

.App-logo {
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
}