:root {
  --results-columns: 2;
}

/* Styles Generals */
img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* App */
.App {
  text-align: center;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: #fff;
}

.App-logo {
  width: 150px;
  margin-bottom: 20px;
  cursor: pointer;
}


/* Home */
input {
  height: 30px;
  line-height: 1;
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 6px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

ul li a {
  display: inline-block;
  color: #09A;
  margin: 3px 0;
  font-size: 26px;
  text-decoration: none;
}

ul li:hover {
  background-color: rgba(0, 100, 100, .3);
}


/* ListOfGifs */
.gifs-container {
  column-count: var(--results-columns);
  column-gap: .5em;
  min-height: 100vh;
}



@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}